# Node.js dependencies
node_modules/
package-lock.json

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# Logs and temp files
*.log
*.tmp
*.bak
*.swp